.header {
	background-image: url(../img/header_large.jpg);
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 20% 80%;
	border-bottom: 4px solid #222;
	@include media(mobile-only){
		height: auto;
		grid-template-columns: 100%;
		grid-template-rows: 100px 400px;
	}
	&__nav {
		grid-row: 1;
		height: 80%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&--logo {
			width: 134px;
			height: 36px;
			margin-left: 40px;
			img {
				width: 100%;
			}
			@include media(mobile-only){
				width: 88px;
				height: 24px;
				margin-left: 20px;
			}
		}
		&--btns {
			height: auto;
			width: auto;
			margin-right: 40px;
			@include media(mobile-only){
				margin-right: 20px;
			}
			.btn__idioma {
				padding: .5em .4em;
				margin-right: 10px;
				font-weight: 500;
				@include font-size(15px);
				background-color: transparent;
				color: $blanco;
				border: 1px solid $blanco;
				@include media(mobile-only){
					padding: .3em .2em;
				}
			}
			.header__nav--btnInicio {
				padding: .6em 1.1em;
				font-weight:500;
				@include font-size(16px);
				text-decoration: none;
				color: $blanco;
				background-color: $rojo-principal;
				border-radius: 4px;
				@include media(mobile-only){
					@include font-size(14px);
				}
			}
		}
	}
	&__content {
		grid-row: 2;
		margin: auto;
		place-self: center;
		display: flex;
		flex-direction: column;
		color: $blanco;
		&--title {
			@include font-size(50px);
			text-align: center;
			@include media(mobile-only){
				@include font-size(28px);
			}
		}
		&--subtitle {
			margin-top: 5px;
			@include font-size(26px);
			font-weight: 300;
			text-align: center;
			@include media(mobile-only){
				@include font-size(18px);
			}
		}
		&--text {
			margin-top: 15px;
			@include font-size(19px);
			font-weight: 400;
			@include media(mobile-only){
				@include font-size(18px);
				text-align: center;
			}
		}
		.email__inicio {
			width: 100%;
			display: flex;
			align-items: center;
			margin: 15px 0;
			overflow: hidden;
			@include media(mobile-only){
				flex-direction: column;
			}
			&--input {
				width: 70%;
				margin: 5px 1px;
				padding: 21px 5px;
				@include media(mobile-only){
					padding: 15px 5px;
					width: 90%;
				}
			}
			&--btn {
				width: 30%;
				padding: 12px 7px;
				display: flex;
				align-items: center;
				justify-content: center;
				@include font-size(26px);
				background-color: $rojo-principal;
				color: $blanco;
				border: none;
				border-radius: 2px;
				@include media(mobile-only){
					padding: 5px 12px;
					font-weight: 500;
					@include font-size(16px);
				}
				span {
					margin-top: 5px;
					margin-left: 5px;
					@include media(mobile-only){
						@include font-size(15px);
						font-weight: 300;
					}
				}
			}
		}
	}
}